<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.5.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app v-cloak>
      <v-app-bar app>
        ヘッダー
      </v-app-bar>
      <v-main>
        <v-container fluid>
          <v-row>
            <v-col
              v-for="(dogType, idx) in dogTypes"
              :key="idx"
              cols="6" md="4">
              <v-btn
                @click.prevent="fetchDogImage(idx)"
                color="cyan"
                dark>{{dogType}}</v-btn>
            </v-col>
          </v-row>
          <v-row v-show="isShow">
            <v-col
              v-for="dogImage in dogImages"
              :key="dogImage"
              cols="12" sm="6" md="4">
              <v-card>
                <v-img
                  :src="dogImage">
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
      <v-footer>
        フッター
      </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data(){
        return {
          dogTypes:['akita', 'beagle', 'pekinese', 'pug'],
          dogUrl: '',
          dogImages: '',
          isShow: false
        }
      },
      methods: {
        async fetchDogImage(idx){
          const that = this;
          this.dogUrl = `https://dog.ceo/api/breed/${this.dogTypes[idx]}/images`;
          const response = await fetch(this.dogUrl, {method: 'get'})
          .then(res => {
            if (res.ok) {
              that.isShow = true
              return res.json()
            }
            throw new Error('error')
            .catch(e => console.log(e.message))
          })
          this.render(response)
        },
        render(response) {
          if (response.message.length > 20) {
            this.dogImages = _(response.message).shuffle().slice(0, 20).value()
          } else {
            this.dogImages = _.shuffle(response.message)
          }
        }
      }
    })
  </script>
</body>
</html>