<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="member in members">
        {{member}}
      </li>
    </ul>
    <ul>
      <li v-for="(member, idx) in members">
        {{idx}}:{{member}}
      </li>
    </ul>
    <!-- <ul>
      <li v-for="book in books">
        {{book}}
      </li>
    </ul>
    <ul>
      <li v-for="(book, key) in books">
        {{key}}:{{book}}
      </li>
    </ul>
    <ul>
      <li v-for="(book, key, idx) in books">
        {{idx}}:{{key}}:{{book}}
      </li>
    </ul> -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>title</th>
          <th>author</th>
          <th>content</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books" :key="book.id">
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.contents }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      data(){
        return{
          members:['a', 'b', 'c', 'd', 'e'],
          books:[
            {
              id: 1,
              title: 'title_A',
              author: 'author_A',
              contents: 'content_A'
            },
            {
              id: 2,
              title: 'title_B',
              author: 'author_B',
              contents: 'content_B'
            },
            {
              id: 3,
              title: 'title_C',
              author: 'author_C',
              contents: 'content_C'
            }
          ]
        }
      }
    })
  </script>
</body>
</html>