<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="member in members">
        {{member}}
      </li>
    </ul>
    <ul>
      <li v-for="(member, idx) in members">
        {{idx}}:{{member}}
      </li>
    </ul>
    <ul>
      <li v-for="book in books">
        {{book}}
      </li>
    </ul>
    <ul>
      <li v-for="(book, key) in books">
        {{key}}:{{book}}
      </li>
    </ul>
    <ul>
      <li v-for="(book, key, idx) in books">
        {{idx}}:{{key}}:{{book}}
      </li>
    </ul>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      data(){
        return{
          members:['a', 'b', 'c', 'd', 'e'],
          books:{
            title: 'title_A',
            author: 'author_A',
            contents: 'content_A'
          }
        }
      }
    })
  </script>
</body>
</html>