<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <style>
    [v-cloak]{
      display: none;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <p v-if="errors.length">
      <ul>
        <li class="error" v-for="error in errors">
          {{ error }}
        </li>
      </ul>
    </p>
    <form @submit.prevent="validate">
      氏名
      <input type="text" v-model="contact.yourName">
      <br>
      電話番号
      <input type="tel" v-model.number="contact.tel">
      <br>
      メールアドレス
      <input type="email" v-model.lazy.trim="contact.email">
      <br>
      性別
      <input type="radio" v-model="contact.gender" value="male">男性
      <input type="radio" v-model="contact.gender" value="female">女性
      <input type="radio" v-model="contact.gender" value="other">その他
      <br>
      年齢
      <select v-model="contact.age">
        <option disabled　value="">年齢を選択してください</option>
        <option value="">10代</option>
        <option value="">20代</option>
        <option value="">30代</option>
        <option value="">40代</option>
      </select>
      <br>
      メッセージ
      <textarea v-model="contact.message"></textarea>
      <br>
      このサイトを知った理由
      <input type="checkbox" value="webサイト" v-model="contact.attracts">webサイト
      <input type="checkbox" value="チラシ" v-model="contact.attracts">チラシ
      <input type="checkbox" value="その他" v-model="contact.attracts">その他
      <br>
      注意事項に同意する
      <input type="checkbox" v-model="contact.caution">
      <br>
      <input type="submit" value="送信">
    </form>
  </div>
  <script>
    let app = new Vue({
      el:'#app',
      data(){
        return {
          contact:{
            yourName: '',
            tel: '',
            email: '',
            gender: '',
            age: '',
            message: '',
            attracts: [],
            caution: false
          },
          errors: []
        }
      },
      methods: {
        validate(){
          this.errors = [];
          if (!this.contact.yourName) {
            this.errors.push('氏名は必須です');
          } else if(this.contact.yourName.length > 20) {
            this.errors.push('氏名は20文字以内で入力してください');
          }
          if (!this.contact.gemder) {
            this.errors.push('性別を選択してください');
          }
          if (!this.contact.caution) {
            this.errors.push('注意事項にチェックと入れてください');
          }
          if (this.errors.length === 0) {
            console.log('送信可能です');
          }
        }
      }
    })
  </script>  
</body>
</html>